<html>
    <head>
        <title>Code 2.0 Numbers</title>
        
        {% stylesheets '@Code20DepotBundle/Resources/public/css/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        
{#        <link rel="stylesheet" href="{{ asset('bundles/code20depot/css/styles.css') }}" />#}
    </head>
    <body>
        <div class="menu">
            <ul>
                <li><a href="{{ path('numbers', { 'divider' : 3}) }}">Divisible by 3</a></li>
                <li><a href="{{ path('numbers', { 'divider' : 5}) }}">Divisible by 5</a></li>
                <li><a href="{{ path('numbers', { 'divider' : 7}) }}">Divisible by 7</a></li>
                <li><a href="{{ path('numbers', { 'divider' : 10}) }}">Divisible by 10</a></li>
                <li><a href="{{ path('numbers', { 'divider' : 10}) }}">Divisible by 20</a></li>
                <li><a href="{{ path('aboutus') }}">About us</a></li>
            </ul>
        </div>
        
        {% block content %}
        {% endblock %}
        
    </body>
</html>
