{% extends 'Code20DepotBundle:Numbers:layout.html.twig' %}

{% block content %}
    <h1>Numbers</h1>
    <ul>
    {% for i in 0..100 %}
        <li class="{% if i is divisibleby(divider) %}divisible{% endif %}">
            {{ i }}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
