<html>
    <head>
        <title>Code 2.0 people</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        
        <h1>New person</h1>
        
        {{ form(formularz) }}
        
    </body>
</html>