<html>
    <head>
        <title>Code 2.0 people</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        
        {% for osoba in ludzie %}
            <p>ID: {{ osoba.id }}</p>
            <p>Name: {{ osoba.name }}</p>
            <p>Surname: {{ osoba.surname }}</p>
            <p>Age: {{ osoba.age }}</p>
            
            {% if osoba.animals | length == 0 %}
                <p>Niestety nie masz żadnych zwierzaków :(</p>
            {% else %}
                <p>Twoje zwierzaki mają imiona:</p>  
                <ul>
                {% for animal in osoba.animals %}
                    <li>{{ animal.nickname }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <hr />
        {% endfor %}
        
        
{#    <li class="{% if app.request.get('_route') == 'products_index'%}active{% endif %}">Index</li>
    
    <li class="{% if app.request.get('_route') == 'products_edit'%}active{% endif %}>Edit</li> 
        
        {{ app.request.get('_route') }}
        #}
    </body>
</html>