/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-09-23, 14:14:17
    Author     : Rudy
*/

.divisible {
    color: white;
    background-color: red;
}